@import 'tailwindcss';
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;500;600;700&display=swap'); */

@theme {
    --font-sans: 'Noto Sans Thai', sans-serif;

    --color-secondary: oklch(77.7% 0.152 181.912);
    --color-secondary-light: oklch(91% 0.096 180.426);
    --color-secondary-dark: oklch(60% 0.118 184.704);

    --shadow-elegant: 0 10px 40px -10px rgba(15, 23, 42, 0.08);
    --shadow-elegant-sm: 0 4px 20px -4px rgba(15, 23, 42, 0.05);
}

body {
    background-color: #f8fafc;
    color: #1e293b;
}
